body {
	background: url('iu.jpg');
}

.login-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 99;
	padding: 0 15px;
}

.login-box {
    max-width: 380px;
    background: #fff;
    position: relative;
    color: #03090e;
    margin: 200px auto 0;
    padding: 40px 25px 25px;
}

.login-box a {
    color: #03090e;
}

.login-box > a {
    position: absolute;
    right: 0;
    top: 0;
    background: #eb315a;
    font-size: 22px;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.login-box h2 {
    text-align: center;
    color: #03090e;
    margin-bottom: 20px;
}

.login-box h6 {}

.login-box h6 {
    color: #03090e;
    margin-bottom: 12px;
}

.login-box input {
    margin-bottom: 20px;
	background: transparent;
	border: 1px solid #ddd;
}

.login-signup {
    float: right;
}

.login-remember {
    float: left;
}

.login-signup a {
    color: #008aff;
}

.login-box form .theme-btn {
    width: 100%;
    border-radius: 0;
	color: #fff;
	text-align: center;
    margin-top: 5px;
}

.login-box form .theme-btn {
    margin: 22px 0;
    display: block;
}

.login-social {
    display: flex;
    justify-content: space-between;
}

.login-social a i {
    width: 45px;
    display: inline-block;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    background: #3a559f;
    text-align: center;
}
.login-social a i.icofont-social-twitter {
    background: #50abf1;
}
.login-social a i.icofont-social-linkedin {
    background: #dd4b39;
}
.login-social a i.icofont-social-google-plus {
    background: #0084b1;
}
.login-social a i.icofont-camera {
    background: #c536a4;
}